@import common._
@import helper._
@import play.api.Configuration
@import play.api.db.Database
@import eu.seitzal.opentab._
@import shortcuts._
@import models.Tab
@import models.permissions._

@(tab: Tab, config: Configuration, db: Database)(implicit request: RequestHeader)
<!DOCTYPE html>
<html lang="en">
  <head>
    @common.head(config)
    <title>Teams - @tab.name - @config.get[String]("apptitle")</title>
  </head>
  <body>
    @common.navbar(config, Some(tab))
    <ul class="nav nav-tabs mt-1 mb-1">
      @if(loggedIn && userCanSetupTab(sessionUserId, tab.id)(db)) {
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tab_editteams">View/Edit Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab_teamranking">Team Ranking</a>
        </li>
      } else {
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tab_teamranking">Team Ranking</a>
        </li>
      }
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_teamranking_esl">ESL Team Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_teamranking_efl">EFL Team Ranking</a>
      </li>
    </ul>

    <div class="tab-content">
      @if(loggedIn && userCanSetupTab(sessionUserId, tab.id)(db)) {
        <div class="tab-pane container-fluid active" id="tab_editteams">
          <div id="accordion_editteams">
            <div class="card">
              <div class="card-header p-1">
                <a class="card-link blocklink" data-toggle="collapse" href="#card1_editteams">
                  Add New
                </a>
              </div>
              <div id="card1_editteams" class="collapse show" data-parent="#accordion_editteams">
                <div class="card-body">
                  <form class="form-inline">
                    <div class="input-group m-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                      </div>
                      <input id="input_addteam_name" type="text" class="form-control" size="20">
                    </div>
                    <div class="input-group m-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Delegation</span>
                      </div>
                      <input id="input_addteam_deleg" type="text" class="form-control" size="20">
                    </div>
                    <div class="input-group m-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Status</span>
                      </div>
                      <select id="input_addteam_lstatus" class="custom-select">
                        <option value="1" selected>EPL</option>
                        <option value="2">ESL</option>
                        <option value="3">EFL</option>
                      </select>
                    </div>
                    <input type="submit" value="Submit" id="btn_addteam_submit" class="btn btn-primary m-1">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="container_table_editteams" class="table-responsive-lg mt-1">
          </div>
        </div>
      }

      <div class="tab-pane container-fluid fade" id="tab_teamranking">
        ...
      </div>

      <div class="tab-pane container-fluid fade" id="tab_teamranking_esl">
        ...
      </div>

      <div class="tab-pane container-fluid fade" id="tab_teamranking_efl">
        ...
      </div>
    </div>
  
    @if(loggedIn && userCanSetupTab(sessionUserId, tab.id)(db)) {
      <div class="modal" id="modal_editteam">
        <div class="modal-dialog modal-dialog-centered modal-dialogue-scrollable">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Edit Team</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="input_editteam_id">ID:</label>
                    <input type="text" class="form-control" id="input_editteam_id" readonly>
                  </div>
                  <div class="form-group">
                    <label for="input_editteam_name">Name:</label>
                    <input type="text" class="form-control" id="input_editteam_name">
                  </div>
                  <div class="form-group">
                    <label for="input_editteam_deleg">Delegation:</label>
                    <input type="text" class="form-control" id="input_editteam_deleg">
                  </div>
                  <div class="form-group">
                    <label for="input_editteam_lstatus">Language Status:</label>
                    <select id="input_editteam_lstatus" class="custom-select">
                      <option value="1">EPL</option>
                      <option value="2">ESL</option>
                      <option value="3">EFL</option>
                    </select>
                  </div>
              </div>
              <div class="modal-footer">
                <input id="btn_editteam_submit" type="submit" value="Update" class="btn btn-primary">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    }

    @common.scripts(config, Some(db), Some(tab))
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/teams.js")" type="text/javascript"></script>
  </body>
</html>