@import common._
@import helper._
@import play.api.Configuration
@import eu.seitzal.opentab._
@import eu.seitzal.opentab.shortcuts._

@(config: Configuration)(implicit request: RequestHeader)
<!DOCTYPE html>
<html lang="en">
  <head>
    @common.head()
    <title>@config.get[String]("apptitle") - Sign in</title>
  </head>
  <body>
    @common.navbar(config)
    <div class="card col-md-6 col-lg-4 mx-auto m-4 p-0">
      <div class="card-header">
        <h1>Sign in to @config.get[String]("apptitle")</h1>
        <p class="lead text-primary">
        <!-- TODO: display contextual message (e.g. session expired) -->
        </p>
      </div>
      <div class="card-body">
        <form action="" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control">
            <div class="invalid-feedback">No account exists with that username.</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
            <div class="invalid-feedback">Incorrect password.</div>
          </div>
          @CSRF.formField
          <input type="submit" value="Sign in" class="btn btn-primary btn-block">
        </form>
      </div>
      <div class="card-footer">
        <a href="@location(config)/register" class="card-link">Create&nbsp;Account</a>
        <a href="@location(config)/resetpw" class="card-link">Forgot&nbsp;Password?</a>
      </div>
    </div>
    @common.scripts(config)
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/login.js")" type="text/javascript"></script>
  </body>
</html>