@import java.net.URLEncoder
@import common._
@import helper._
@import play.api.db.Database
@import play.api.Configuration
@import eu.seitzal.opentab._
@import shortcuts._
@import models.Tab
@import auth._

@(config: Configuration, db: Database, tab: Option[Tab] = None)(implicit request: RequestHeader)
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="@location(config)">
    @config.get[String]("brand")
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      @if(tab.isDefined) {
        <li class="nav-item">
          <a class="nav-link text-secondary" href="@location(config)/tab/@tab.get.id">@tab.get.name</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navitem_teams" href="@location(config)/tab/@tab.get.id/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navitem_speakers" href="@location(config)/tab/@tab.get.id/speakers">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navitem_rounds" href="@location(config)/tab/@tab.get.id/rounds">Rounds</a>
        </li>
        @if(loggedIn && userCanSetupTab(sessionUserId, tab.get.id)(db)) {
          <li class="nav-item">
            <a class="nav-link" id="navitem_judges" href="@location(config)/tab/@tab.get.id/judges">Judges</a>
        </li>
        }
      }
    </ul>
    <ul class="navbar-nav">
      @if(loggedIn) {
        <li class="nav-item">
          <a class="nav-link" href="@location(config)/account">@request.session("username")</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@location(config)/logout">Sign Out</a>
        </li>
      } else {
        <li class="nav-item">
          <a class="nav-link" href="@location(config)/login?origin=@URLEncoder.encode(request.uri, "utf-8")">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@location(config)register">Create Account</a>
        </li>
      }
    </ul>
  </div>
</nav>