@import eu.seitzal.opentab.shortcuts._
@import play.api.Configuration

@(config: Configuration)(implicit request: RequestHeader)
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
@if(loggedIn) {
  <script>
    api_key = '@request.session.get("api_key").getOrElse("")'
  </script>
}
<script>
  app_location = '@location(config)'
</script>